@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

::after,
::before,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: var(--ff-secondary);
     background-color: var(--clr-grey-10); 
    /* background-image: url(); */
    color: var(--clr-grey-1);
}

.container {
    max-width: 470px;
    width: 90%;
    background: linear-gradient(135deg, darkblue,turquoise);
    color: chocolate;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

h1 {
    font-size: 3rem;
}

.search-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    margin: 0 auto;
}

.search-box input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 15px;
    font-size: 18px;
}

.search-box button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;

}

.search-box button img{
    width: 20px;
}

.weatherinfo{
    color: aliceblue;
    /* display: none; */
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
/* input[type = "text"]{
    width: 100%;
    padding: 1rem;
    margin: 10px , 0;
    border: var(--clr-gold);
    border-radius: var(--radius);
}

button {
   background: transparent;
   color: var(--clr-black);
   padding: 1rem 2rem; 
   border-radius: var(--radius);
   cursor: pointer;
   text-transform: uppercase;
   letter-spacing: var(--spacing);
   transition: var(--transition);
   font-size: 0.875rem;
   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
   border: 2px solid var(--clr-black);
} */

.weather-info{
    margin-top: 20px;
}